body{
    margin: 0;
    font-family: Georgia;
}

header{
    padding: 20px;
    background-color: #5b08a3;
    color: #fff;
}

nav{
    padding: 20px;
    display: flex;
    background-color: #6d0bc2;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: bold;
}

.nav-item a:hover{
    color: aqua;
}

.nav-item-active{
    color: aqua !important;
}

.container{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    padding: 20px;
    border: 2px solid #5b08a3;
    border-radius: 25px;
}

.form{
    width: 25%;
}

.input-controler{
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-controler input{
    width: 90%;
    padding: 15px;
    border: 1px solid #5b08a3;
    border-radius: 5px;
    outline: none;
    text-align: center;
    
}

.input-controler input:focus{
    background-color: #ede5f3;
}    

.input-controler input::placeholder{
    color: #5b08a3;
}

.btn{
    width: 98%;
    background-color: #410575;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 3px solid #5b08a3;
    cursor: pointer;
}

.btn:hover{
    background-color: #a157e2; 
    color: #410575;
}

@media screen and (max-width:500px){
    nav{
        display: block;
    }

    .nav-item{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container{
        padding: 10px;
    }

    .form{
        width: 85%;
    }
}